.site-wrapper {
    padding: 0 15px;

    .inner-frame {
        background-color: #f6f2ea;
        border-radius: 36px;
        max-width: 1440px;
        margin: auto;
    }

    .hero {
        padding: 150px 5% 40px;
        display: flex;
        justify-content: center;
        position: relative;

        .content {
            max-width: 770px;
            z-index: 2;

            h1 {
                letter-spacing: -5px;
                font-size: 104px;
                font-weight: 500;
                line-height: 1;
                text-align: center;
                margin-bottom: 24px;
            }

            p {
                text-align: center;
                font-size: 24px;
                line-height: 1.2;
                margin-bottom: 10px;
            }

            .available-component {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 8px;
            }
        }

        .image-left {
            width: 14vw;
            max-width: 230px;
            position: absolute;
            top: 23%;
            bottom: auto;
            left: 0%;
            right: auto;
            z-index: 1;
        }

        .image-right {
            width: 17vw;
            max-width: 230px;
            position: absolute;
            top: 31%;
            bottom: auto;
            left: auto;
            right: 0%;
            z-index: 1;
        }
    }
}
