a.link-button {
    color: white;
    padding: 22px 54px;
    background-image: linear-gradient(#000, #292929);
    border: 1px solid #000;
    border-radius: 12px;
    font-size: 17px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .31), inset 0 2px 1px rgba(255, 255, 255, .5);
}

.buttonWrapper {
    display: flex;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
}