.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    &__logo {
        display: flex;
        gap: 10px;

        .lottie-smile {
            width: 24px;
        }
    }
}